* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
}

#root {
  display: block;
}

button {
  font-family: inherit;
}